*{
    margin: 0;
    padding: 0;
}

.background{    
    width: 100%;    
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;    
}

.background2{
    width: 100%;
    background-image: url(images/2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.background3{
    width: 100%;
    background-image: url(images/3.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.background4{
    width: 100%;
    background-image: url(images/4.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.background5{
    width: 100%;
    background-image: url(images/5.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.logo{
    color: #080808;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 500px;
    float: left;
    height: 50px;
}

ul{
    float: left;
    display: flex;
    margin-top: -0.55cm;
    margin-left: 10cm;
    justify-content: center;
    align-items: center;    
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: none;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgba(6, 11, 157, 0.83);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color:rgb(244, 249, 250);
}

.content{
    width: 1200px;    
    height: auto;
    margin: auto;
    background-color: aqua;
    color: rgb(13, 13, 13);
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 23px;
}

.content h1{
    font-family: Arial;
    font-size: 50px;
    padding-left: 20px;
    margin-top: -0.35cm;
    letter-spacing: 2px;
}

.content h2{
    font-family:'Franklin Gothic Medium';
    font-size: 50px;
    padding-left: 20px;
    margin-top: none;
    letter-spacing: 2px;
}

.content h3{
    font-family:'Franklin Gothic Medium';
    font-size: 30px;
    padding-left: 20px;
    margin-top: none;
    letter-spacing: 2px;
}

.content h4{
    font-family: Arial;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 38%;
    letter-spacing: 2px;
}

.content h6{
    font-family:'Trebuchet MS';
    font-size: 18px;
    padding-left: 20px;
    margin-top: 0.2%;
    color:rgb(250, 14, 112);
    font-style: italic;
    letter-spacing: 2px;
}

.content1{
    width: 500px;
    margin-top: 1cm;
    margin-left: 5cm;   
    height: auto;    
    background-color: rgb(50, 48, 50);
    color: rgb(30, 218, 243);
    padding-left: 10px;
    float: left;
    padding-top: 10px;    
}

.content1 .par1{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Verdana;
    letter-spacing: 1.2px;
    line-height: 23px;
}

.content1 h5{
    font-family: 'Lucida Sans';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    letter-spacing: 2px;
}

.flexbox-container{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexbox-container iframe{
    position: absolute;
    margin-top: 2%;
    margin-left: 1%;
    width: 85%;
    height: 85%;
}

